<h1 class="text-center mt-5">Edit Blog</h1>

<div class="container mt-5">
  <div class="row">
      <%= form_for @blog do |f| %>

        <div class="form-group">
          <%= f.label :heading %>
          <%= f.text_field :heading,class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description,  class: 'form-control' %>
        </div>

        <div class="form-group mt-4 text-center">
          <%= f.submit class: 'btn btn-primary' %>
        </div>

      <% end %>
  </div>
</div>